Repository chanzuckerberg/single-cell-curation: changes, and which Codecov flags are due for each by the changed paths.
All: cellxgene_schema_cli, migration_assistant, schema_bump_dry_run_genes, schema_bump_dry_run_ontologies

codecov.yaml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_cellxgene_schema_cli
      name: cellxgene_schema_cli
      paths:
        - cellxgene_schema_cli/**
    - component_id: module_migration_assistant
      name: migration_assistant
      paths:
        - scripts/migration_assistant/**
    - component_id: module_schema_bump_dry_run_genes
      name: schema_bump_dry_run_genes
      paths:
        - scripts/schema_bump_dry_run_genes/**
    - component_id: module_schema_bump_dry_run_ontologies
      name: schema_bump_dry_run_ontologies
      paths:
        - scripts/schema_bump_dry_run_ontologies/**

lint
  cellxgene_schema_cli/cellxgene_schema/utils.py
  cellxgene_schema_cli/cellxgene_schema/validate.py
Due: cellxgene_schema_cli

lint check
  scripts/schema_bump_dry_run_genes/tests/test_gene_bump_dry_run.py
Due: schema_bump_dry_run_genes

feat: support for all secondary species (#1250)
  cellxgene_schema_cli/cellxgene_schema/gencode.py
  cellxgene_schema_cli/cellxgene_schema/gencode_files/gene_info.yml
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_caenorhabditis_elegans.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_callithrix_jacchus.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_danio_rerio.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_drosophila_melanogaster.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_gorilla_gorilla.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_homo_sapiens.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_macaca_fascicularis.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_macaca_mulatta.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_microcebus_murinus.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_mus_musculus.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_oryctolagus_cuniculus.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_pan_troglodytes.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_rattus_norvegicus.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_sus_scrofa.csv.gz
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
  cellxgene_schema_cli/cellxgene_schema/utils.py
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/fixtures/examples_ontology_test.py
  cellxgene_schema_cli/tests/fixtures/examples_validate.py
  cellxgene_schema_cli/tests/fixtures/h5ads/example_valid.h5ad
  cellxgene_schema_cli/tests/test_schema_compliance.py
  scripts/schema_bump_dry_run_genes/tests/test_gene_bump_dry_run.py
Due: cellxgene_schema_cli, schema_bump_dry_run_genes

fix fruit fly RR genes
  cellxgene_schema_cli/cellxgene_schema/gencode.py
Due: cellxgene_schema_cli

update tests
  cellxgene_schema_cli/tests/fixtures/examples_ontology_test.py
Due: cellxgene_schema_cli

fix: fruit fly RR genes (#1252)
  cellxgene_schema_cli/cellxgene_schema/gencode.py
  cellxgene_schema_cli/tests/fixtures/examples_ontology_test.py
Due: cellxgene_schema_cli

determine species from gene file, not from gene prefix
  cellxgene_schema_cli/cellxgene_schema/gencode.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

update test
  cellxgene_schema_cli/tests/test_gencode.py
Due: cellxgene_schema_cli

fix: determine species from gene file, not from gene prefix (#1253)
  cellxgene_schema_cli/cellxgene_schema/gencode.py
  cellxgene_schema_cli/tests/test_gencode.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

add additional unit tests for validation steps
  cellxgene_schema_cli/cellxgene_schema/atac_seq.py
  cellxgene_schema_cli/tests/test_atac_seq.py
Due: cellxgene_schema_cli

Add validation steps for validate_anndata_is_atac, validate_anndata_feature_reference, validate_anndata_is_primary_data
  cellxgene_schema_cli/cellxgene_schema/atac_seq.py
  cellxgene_schema_cli/tests/test_atac_seq.py
Due: cellxgene_schema_cli

fix typing
  cellxgene_schema_cli/cellxgene_schema/atac_seq.py
Due: cellxgene_schema_cli

add one more check
  cellxgene_schema_cli/cellxgene_schema/atac_seq.py
  cellxgene_schema_cli/tests/test_atac_seq.py
Due: cellxgene_schema_cli

additional testing for generate bgzip and tbi files
  cellxgene_schema_cli/cellxgene_schema/atac_seq.py
  cellxgene_schema_cli/tests/test_atac_seq.py
Due: cellxgene_schema_cli

- parameterize test_process_fragment to use all write methods - change name of cli command validate-fragment to process-fragment - install tabix and bgzip in test GHA
  .github/workflows/push_tests.yml
  cellxgene_schema_cli/cellxgene_schema/atac_seq.py
  cellxgene_schema_cli/cellxgene_schema/cli.py
  cellxgene_schema_cli/tests/test_atac_seq.py
Due: cellxgene_schema_cli

- install libbz2-dev
  .github/workflows/push_tests.yml
Due: none

install liblzma-dev
  .github/workflows/push_tests.yml
Due: none

Update .github/workflows/push_tests.yml
  .github/workflows/push_tests.yml
Due: none

install in ~/bin
  .github/workflows/push_tests.yml
Due: none

install in /user/bin
  .github/workflows/push_tests.yml
Due: none

sudo
  .github/workflows/push_tests.yml
Due: none

Correct ontolology
  schema/drafts/5.3.0.md
Due: none

Correct ontolology (#1255)
  schema/drafts/5.3.0.md
Due: none

Update cellxgene_schema_cli/tests/test_atac_seq.py
  cellxgene_schema_cli/tests/test_atac_seq.py
Due: cellxgene_schema_cli

find bgzip
  .github/workflows/push_tests.yml
Due: none

add make
  .github/workflows/push_tests.yml
Due: none

apt-get
  .github/workflows/push_tests.yml
Due: none

add test for processing bgz and gz files - add output_file cli parameter - move all cli commands under schema-cli
  cellxgene_schema_cli/cellxgene_schema/atac_seq.py
  cellxgene_schema_cli/cellxgene_schema/cli.py
  cellxgene_schema_cli/tests/fixtures/atac_seq/fragments.tsv.bgz
  cellxgene_schema_cli/tests/test_atac_seq.py
Due: cellxgene_schema_cli

split test_process_fragment tests
  cellxgene_schema_cli/tests/test_atac_seq.py
Due: cellxgene_schema_cli

install tabix
  .github/workflows/push_tests.yml
Due: none

Update cellxgene_schema_cli/cellxgene_schema/atac_seq.py
  cellxgene_schema_cli/cellxgene_schema/atac_seq.py
Due: cellxgene_schema_cli

update to alpha release of cog
  cellxgene_schema_cli/requirements.txt
Due: cellxgene_schema_cli

initial pertubations schema
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
  cellxgene_schema_cli/tests/fixtures/examples_validate.py
Due: cellxgene_schema_cli

add labels
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
  cellxgene_schema_cli/cellxgene_schema/write_labels.py
  cellxgene_schema_cli/tests/fixtures/examples_validate.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

validation for perturbation_target_gene_id
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/fixtures/examples_validate.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

update schema def and valid example
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
  cellxgene_schema_cli/tests/fixtures/examples_validate.py
  cellxgene_schema_cli/tests/fixtures/h5ads/example_valid.h5ad
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

add a separate check to see if fragment validation is needed.
  cellxgene_schema_cli/cellxgene_schema/atac_seq.py
  cellxgene_schema_cli/cellxgene_schema/cli.py
  cellxgene_schema_cli/tests/test_atac_seq.py
Due: cellxgene_schema_cli

fix check-anndata-requires-fragment help message
  cellxgene_schema_cli/cellxgene_schema/cli.py
Due: cellxgene_schema_cli

add TestValidateFragmentStopCoordinateWithinChromosome.test_organism_ontology_id_not_unique
  cellxgene_schema_cli/tests/test_atac_seq.py
Due: cellxgene_schema_cli

use inline pytest.raises(...,match=)
  cellxgene_schema_cli/tests/test_atac_seq.py
Due: cellxgene_schema_cli
