Repository chanzuckerberg/single-cell-curation: changes, and which Codecov flags are due for each by the changed paths.
All: cellxgene_schema_cli, migration_assistant, schema_bump_dry_run_genes, schema_bump_dry_run_ontologies

feat: fix validation of is_primary_data to handle numpy bools (#1355)
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/test_validate.py
Due: cellxgene_schema_cli

only check duplicate rows of raw matrix
  cellxgene_schema_cli/cellxgene_schema/validation_internals/check_duplicates.py
  cellxgene_schema_cli/tests/test_check_duplicates.py
Due: cellxgene_schema_cli

fix: only check duplicate rows of raw matrix, not normalized matrix (#1358)
  cellxgene_schema_cli/cellxgene_schema/validation_internals/check_duplicates.py
  cellxgene_schema_cli/tests/test_check_duplicates.py
Due: cellxgene_schema_cli

wip
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/fixtures/examples_validate.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
  cellxgene_schema_cli/tests/test_utils.py
Due: cellxgene_schema_cli

fix multispecies stuff
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/fixtures/examples_validate.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
  cellxgene_schema_cli/tests/test_validate.py
Due: cellxgene_schema_cli

add organism
  cellxgene_schema_cli/cellxgene_schema/migrate.py
  cellxgene_schema_cli/cellxgene_schema/remove_labels.py
  cellxgene_schema_cli/cellxgene_schema/write_labels.py
  cellxgene_schema_cli/tests/fixtures/examples_validate.py
  cellxgene_schema_cli/tests/fixtures/h5ads/example_valid.h5ad
  cellxgene_schema_cli/tests/test_map_species.py
  cellxgene_schema_cli/tests/test_migrate.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

linter
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

rm organism from migration template
  scripts/migration_assistant/migration_template.jinja
Due: migration_assistant

update tests
  scripts/migration_assistant/tests/test_convert_template.py
Due: migration_assistant

rename to_key
  cellxgene_schema_cli/cellxgene_schema/remove_labels.py
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
  cellxgene_schema_cli/cellxgene_schema/write_labels.py
Due: cellxgene_schema_cli

feat: support only one organism (#1357)
  cellxgene_schema_cli/cellxgene_schema/migrate.py
  cellxgene_schema_cli/cellxgene_schema/remove_labels.py
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/cellxgene_schema/write_labels.py
  cellxgene_schema_cli/tests/fixtures/examples_validate.py
  cellxgene_schema_cli/tests/fixtures/h5ads/example_valid.h5ad
  cellxgene_schema_cli/tests/test_map_species.py
  cellxgene_schema_cli/tests/test_migrate.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
  cellxgene_schema_cli/tests/test_utils.py
  cellxgene_schema_cli/tests/test_validate.py
  scripts/migration_assistant/migration_template.jinja
  scripts/migration_assistant/tests/test_convert_template.py
Due: cellxgene_schema_cli, migration_assistant

remove deduplication of genes
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_caenorhabditis_elegans.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_callithrix_jacchus.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_danio_rerio.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_drosophila_melanogaster.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_gorilla_gorilla.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_homo_sapiens.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_macaca_fascicularis.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_macaca_mulatta.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_microcebus_murinus.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_mus_musculus.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_oryctolagus_cuniculus.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_pan_troglodytes.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_rattus_norvegicus.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_sars_cov_2.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_sus_scrofa.csv.gz
  cellxgene_schema_cli/scripts/gene_processing.py
  cellxgene_schema_cli/tests/fixtures/examples_ontology_test.py
  cellxgene_schema_cli/tests/fixtures/examples_validate.py
Due: cellxgene_schema_cli

feat: remove deduplication of genes (#1359)
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_caenorhabditis_elegans.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_callithrix_jacchus.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_danio_rerio.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_drosophila_melanogaster.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_gorilla_gorilla.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_homo_sapiens.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_macaca_fascicularis.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_macaca_mulatta.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_microcebus_murinus.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_mus_musculus.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_oryctolagus_cuniculus.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_pan_troglodytes.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_rattus_norvegicus.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_sars_cov_2.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_sus_scrofa.csv.gz
  cellxgene_schema_cli/scripts/gene_processing.py
  cellxgene_schema_cli/tests/fixtures/examples_ontology_test.py
  cellxgene_schema_cli/tests/fixtures/examples_validate.py
Due: cellxgene_schema_cli

catch indexerror
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

fix tests
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

fix: catch indexerror (#1360)
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

update migrate script template for organism term migrations post 6.0
  cellxgene_schema_cli/cellxgene_schema/utils.py
  cellxgene_schema_cli/tests/test_migrate.py
Due: cellxgene_schema_cli

update migrate script for organism
  cellxgene_schema_cli/cellxgene_schema/migrate.py
  cellxgene_schema_cli/cellxgene_schema/utils.py
  cellxgene_schema_cli/tests/test_migrate.py
  scripts/migration_assistant/migration_template.jinja
  scripts/migration_assistant/tests/test_convert_template.py
Due: cellxgene_schema_cli, migration_assistant

linter
  cellxgene_schema_cli/cellxgene_schema/utils.py
Due: cellxgene_schema_cli

fix
  scripts/migration_assistant/migration_template.jinja
Due: migration_assistant

chore: Update LICENSE.txt
  cellxgene_schema_cli/LICENSE.txt
Due: cellxgene_schema_cli

move to migrate script
  cellxgene_schema_cli/cellxgene_schema/utils.py
  cellxgene_schema_cli/tests/test_utils.py
Due: cellxgene_schema_cli

feat: update migration script for moving organism from obs to uns (#1361)
  cellxgene_schema_cli/cellxgene_schema/migrate.py
  cellxgene_schema_cli/cellxgene_schema/utils.py
  cellxgene_schema_cli/tests/test_migrate.py
  cellxgene_schema_cli/tests/test_utils.py
  scripts/migration_assistant/migration_template.jinja
  scripts/migration_assistant/tests/test_convert_template.py
Due: cellxgene_schema_cli, migration_assistant

chore: Update LICENSE.txt (#1362)
  cellxgene_schema_cli/LICENSE.txt
Due: cellxgene_schema_cli

update copy of disease error msg
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
Due: cellxgene_schema_cli

chore: update copy of disease error msg (#1363)
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
Due: cellxgene_schema_cli

only fix sorting
  cellxgene_schema_cli/cellxgene_schema/atac_seq.py
Due: cellxgene_schema_cli

lint
  cellxgene_schema_cli/cellxgene_schema/atac_seq.py
Due: cellxgene_schema_cli

update get_chunks logic
  cellxgene_schema_cli/cellxgene_schema/atac_seq.py
  cellxgene_schema_cli/cellxgene_schema/utils.py
  cellxgene_schema_cli/tests/test_utils.py
Due: cellxgene_schema_cli

clean up the sorting loop
  cellxgene_schema_cli/cellxgene_schema/atac_seq.py
Due: cellxgene_schema_cli

clean up temp file and take smaller step when sorting.
  cellxgene_schema_cli/cellxgene_schema/atac_seq.py
Due: cellxgene_schema_cli

review changes
  cellxgene_schema_cli/cellxgene_schema/atac_seq.py
Due: cellxgene_schema_cli

clean up file outside of for loop
  cellxgene_schema_cli/cellxgene_schema/atac_seq.py
Due: cellxgene_schema_cli

review changes
  cellxgene_schema_cli/cellxgene_schema/atac_seq.py
  cellxgene_schema_cli/tests/test_atac_seq.py
Due: cellxgene_schema_cli

fix: take smaller step when sorting. (#1353)
  cellxgene_schema_cli/cellxgene_schema/atac_seq.py
  cellxgene_schema_cli/cellxgene_schema/utils.py
  cellxgene_schema_cli/tests/test_atac_seq.py
  cellxgene_schema_cli/tests/test_utils.py
Due: cellxgene_schema_cli

updated pinned ontologies
  schema/6.0.0/schema.md
Due: none

updated pinned ontologies (#1368)
  schema/6.0.0/schema.md
Due: none

wip
  cellxgene_schema_cli/cellxgene_schema/gencode.py
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

Path conditions:
  cellxgene_schema_cli: any of: cellxgene_schema_cli/**
  migration_assistant: any of: scripts/migration_assistant/**
  schema_bump_dry_run_genes: any of: scripts/schema_bump_dry_run_genes/**
  schema_bump_dry_run_ontologies: any of: scripts/schema_bump_dry_run_ontologies/**
