Repository chanzuckerberg/single-cell-curation: changes, and which Codecov flags are due for each by the changed paths.
All: cellxgene_schema_cli, migration_assistant, schema_bump_dry_run_genes, schema_bump_dry_run_ontologies

codecov.yaml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_cellxgene_schema_cli
      name: cellxgene_schema_cli
      paths:
        - cellxgene_schema_cli/**
    - component_id: module_migration_assistant
      name: migration_assistant
      paths:
        - scripts/migration_assistant/**
    - component_id: module_schema_bump_dry_run_genes
      name: schema_bump_dry_run_genes
      paths:
        - scripts/schema_bump_dry_run_genes/**
    - component_id: module_schema_bump_dry_run_ontologies
      name: schema_bump_dry_run_ontologies
      paths:
        - scripts/schema_bump_dry_run_ontologies/**

Updated changelog (#1213)
  schema/drafts/5.3.0.md
Due: none

fix: remove dependency on Validator in AnnDataLabelAppender (#1205)
  cellxgene_schema_cli/cellxgene_schema/cli.py
  cellxgene_schema_cli/cellxgene_schema/gencode.py
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/cellxgene_schema/write_labels.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
  cellxgene_schema_cli/tests/test_validate.py
Due: cellxgene_schema_cli

feat: update genetic ancestry tolerance (#1210)
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

visium check should not include the generic visium term.
  cellxgene_schema_cli/cellxgene_schema/validate.py
Due: cellxgene_schema_cli

updated spatial fixture; use specific visium assay
  cellxgene_schema_cli/tests/fixtures/examples_validate.py
Due: cellxgene_schema_cli

explicitly forbid EFO:0010961 from assay_ontology_term_id
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/test_validate.py
  requirements-dev.txt
Due: cellxgene_schema_cli

ontology_descendant check ignore self only for querying generic term
  cellxgene_schema_cli/cellxgene_schema/validate.py
Due: cellxgene_schema_cli

update test conditions to use a more specific visium term
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
  cellxgene_schema_cli/tests/test_validate.py
Due: cellxgene_schema_cli

feat: exclude generic visium (EFO:0010961) from allowed assay_ontology_term (#1214)
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/fixtures/examples_validate.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
  cellxgene_schema_cli/tests/test_validate.py
  requirements-dev.txt
Due: cellxgene_schema_cli

Updated assay_ontology_term_id
  schema/drafts/5.3.0.md
Due: none

require COG 1.4.0 with support for additional species
  cellxgene_schema_cli/requirements.txt
  scripts/schema_bump_dry_run_ontologies/requirements.txt
Due: cellxgene_schema_cli, schema_bump_dry_run_ontologies

editorial
  schema/drafts/5.3.0.md
Due: none

Updated assay_ontology_term_id (#1215)
  schema/drafts/5.3.0.md
Due: none

Updates for fragments
  schema/drafts/5.3.0.md
Due: none

Added table links
  schema/drafts/5.3.0.md
Due: none

Updates for fragments (#1216)
  schema/drafts/5.3.0.md
Due: none

Updated EFO release
  schema/drafts/5.3.0.md
Due: none

Updated EFO release (#1217)
  schema/drafts/5.3.0.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/add-species.md
Due: none

feat: validate development_stage_ontology_term_id for Zebrafish (#1062)
  .github/workflows/push_tests.yml
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
  cellxgene_schema_cli/requirements.txt
  cellxgene_schema_cli/setup.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

feat: require organism_cell_type_ontology_term_id column + support zebrafish validation (#1063)
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/fixtures/examples_validate.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
  cellxgene_schema_cli/tests/test_validate.py
Due: cellxgene_schema_cli

feat: add organism_tissue_ontology_term_id column validation and validate for zebrafish (#1066)
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
  cellxgene_schema_cli/tests/fixtures/examples_validate.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

feat: add fruit fly gencode file (#1061)
  .github/workflows/gencode-process.yml
  cellxgene_schema_cli/cellxgene_schema/gencode.py
  cellxgene_schema_cli/cellxgene_schema/gencode_files/gene_info.yml
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_drosophila_melanogaster.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_homo_sapiens.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_mus_musculus.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_sars_cov_2.csv.gz
  cellxgene_schema_cli/cellxgene_schema/ontology_files/.gitignore
  cellxgene_schema_cli/cellxgene_schema/write_labels.py
  cellxgene_schema_cli/scripts/gene_processing.py
  cellxgene_schema_cli/tests/fixtures/examples_validate.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
  cellxgene_schema_cli/tests/test_utils.py
  cellxgene_schema_cli/tests/test_validate.py
  scripts/schema_bump_dry_run_genes/tests/test_gene_bump_dry_run.py
Due: cellxgene_schema_cli, schema_bump_dry_run_genes

clean-up readme.md
  readme.md
Due: none

Update readme.md with map-species instructions
  readme.md
Due: none

feat: fruit fly validation for organism_tissue_ontology_term_id (#1072)
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

Update readme.md
  readme.md
Due: none

feat: validate development_stage_ontology_term_id for fruit fly (#1069)
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

feat: add gencode support for zebrafish (#1070)
  cellxgene_schema_cli/cellxgene_schema/gencode.py
  cellxgene_schema_cli/cellxgene_schema/gencode_files/gene_info.yml
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_danio_rerio.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_drosophila_melanogaster.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_homo_sapiens.csv.gz
  cellxgene_schema_cli/tests/fixtures/examples_validate.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
  cellxgene_schema_cli/tests/test_utils.py
  cellxgene_schema_cli/tests/test_validate.py
  scripts/schema_bump_dry_run_genes/tests/test_gene_bump_dry_run.py
Due: cellxgene_schema_cli, schema_bump_dry_run_genes

feat: add support for c. elegans gencode + bump gencode version for zebrafish and fruit fly (#1130)
  cellxgene_schema_cli/cellxgene_schema/gencode.py
  cellxgene_schema_cli/cellxgene_schema/gencode_files/gene_info.yml
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_caenorhabditis_elegans.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_danio_rerio.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_drosophila_melanogaster.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_homo_sapiens.csv.gz
  cellxgene_schema_cli/tests/fixtures/examples_validate.py
  cellxgene_schema_cli/tests/test_map_species.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
  cellxgene_schema_cli/tests/test_utils.py
  cellxgene_schema_cli/tests/test_validate.py
  scripts/schema_bump_dry_run_genes/tests/test_gene_bump_dry_run.py
Due: cellxgene_schema_cli, schema_bump_dry_run_genes

feat: add support for validating c. elegans (#1131)
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

feat: map_species command for organism specific ontology terms to CL/UBERON mappings (#1079)
  cellxgene_schema_cli/cellxgene_schema/cli.py
  cellxgene_schema_cli/cellxgene_schema/map_species.py
  cellxgene_schema_cli/tests/test_map_species.py
Due: cellxgene_schema_cli

feat: enforce tissue_type = tissue for experimental species (#1073)
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

bump to 1.4.1
  cellxgene_schema_cli/requirements.txt
Due: cellxgene_schema_cli

fix
  cellxgene_schema_cli/tests/test_schema_compliance.py
  cellxgene_schema_cli/tests/test_validate.py
Due: cellxgene_schema_cli

fix rule syntax
  cellxgene_schema_cli/cellxgene_schema/map_species.py
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
Due: cellxgene_schema_cli

fix to use actual visium term
  cellxgene_schema_cli/tests/fixtures/examples_validate.py
Due: cellxgene_schema_cli

fix examples
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
  cellxgene_schema_cli/tests/fixtures/h5ads/example_valid.h5ad
  cellxgene_schema_cli/tests/fixtures/h5ads/example_valid_modified.h5ad
  cellxgene_schema_cli/tests/test_validate.py
  scripts/schema_bump_dry_run_ontologies/requirements.txt
Due: cellxgene_schema_cli, schema_bump_dry_run_ontologies

skip visium multispecies tests, and fix some others
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

Updated fragments and changelog
  schema/drafts/5.3.0.md
Due: none
