Repository chanzuckerberg/single-cell-curation: changes, and which Codecov flags are due for each by the changed paths.
All: cellxgene_schema_cli, migration_assistant, schema_bump_dry_run_genes, schema_bump_dry_run_ontologies

editorial
  schema/drafts/5.3.0.md
Due: none

Updated fragments and changelog (#1224)
  schema/drafts/5.3.0.md
Due: none

feat: merge in multi species work from Q4 2024/experimental validator (#1199)
  .github/workflows/gencode-process.yml
  .github/workflows/push_tests.yml
  cellxgene_schema_cli/cellxgene_schema/cli.py
  cellxgene_schema_cli/cellxgene_schema/gencode.py
  cellxgene_schema_cli/cellxgene_schema/gencode_files/gene_info.yml
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_caenorhabditis_elegans.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_danio_rerio.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_drosophila_melanogaster.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_homo_sapiens.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_mus_musculus.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/genes_sars_cov_2.csv.gz
  cellxgene_schema_cli/cellxgene_schema/map_species.py
  cellxgene_schema_cli/cellxgene_schema/ontology_files/.gitignore
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/cellxgene_schema/write_labels.py
  cellxgene_schema_cli/requirements.txt
  cellxgene_schema_cli/scripts/gene_processing.py
  cellxgene_schema_cli/setup.py
  cellxgene_schema_cli/tests/fixtures/examples_validate.py
  cellxgene_schema_cli/tests/fixtures/h5ads/example_valid.h5ad
  cellxgene_schema_cli/tests/fixtures/h5ads/example_valid_modified.h5ad
  cellxgene_schema_cli/tests/test_map_species.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
  cellxgene_schema_cli/tests/test_utils.py
  cellxgene_schema_cli/tests/test_validate.py
  readme.md
  scripts/schema_bump_dry_run_genes/tests/test_gene_bump_dry_run.py
  scripts/schema_bump_dry_run_ontologies/requirements.txt
Due: cellxgene_schema_cli, schema_bump_dry_run_genes, schema_bump_dry_run_ontologies

Corrected Visium reference
  schema/drafts/5.3.0.md
Due: none

Corrected Visium reference (#1227)
  schema/drafts/5.3.0.md
Due: none

wip
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/fixtures/examples_validate.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

fix examples validate
  cellxgene_schema_cli/tests/fixtures/examples_validate.py
Due: cellxgene_schema_cli

fix stuff
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

Feedback from Jason
  schema/drafts/5.3.0.md
Due: none

linter
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

Addressed feedback from Jason (#1228)
  schema/drafts/5.3.0.md
Due: none

feat: add support for zebrafish, fruit fly, and roundworm (#1229)
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/fixtures/examples_validate.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

species-specific tests with visium data should reset validator to accept smaller matrix size
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

chore: move organism-specific validation logic to schema_definition.yaml
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/test_map_species.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

updated skipped tests
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

lint checks
  cellxgene_schema_cli/tests/test_map_species.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

update loglevel to 'INFO' to retrieve all log messages for testing
  cellxgene_schema_cli/tests/test_map_species.py
Due: cellxgene_schema_cli

reconcile error messages for cell_type and tissue_type terms
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
  cellxgene_schema_cli/tests/test_validate.py
Due: cellxgene_schema_cli

lint checks
  cellxgene_schema_cli/tests/test_validate.py
Due: cellxgene_schema_cli

feat: resolve visium+multispecies testing conflicts (#1226)
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/test_map_species.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
  cellxgene_schema_cli/tests/test_validate.py
Due: cellxgene_schema_cli

differentiate between missing column and column with null/NaN values for tissue_position
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/test_validate.py
Due: cellxgene_schema_cli

lint checks
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/test_validate.py
Due: cellxgene_schema_cli

feat: Differentiate between missing column and column with null/NaN values (#1230)
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/test_validate.py
Due: cellxgene_schema_cli

chore: move organism-specific validation logic to schema_definition.yaml (#1231)
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/test_map_species.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

verify we're not allowing new terms to human / mouse
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

Updated gene annotations
  schema/drafts/5.3.0.md
Due: none

Updated gene annotations (#1233)
  schema/drafts/5.3.0.md
Due: none

fix development stage and tissue type cols
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

linter + make tests more useful
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

fix tests
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

WIP - remove tissue_type conditional rule
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

chore: verify we're not allowing new terms to human / mouse (#1232)
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

feat: support development_stage_ontology_term_id and tissue_type cols based on 5.3 reqs (#1234)
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

cell culture edge case
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

add another test to check for uberon terms
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

revert back to hacky solution
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

add CL tests
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

fix: tissue_ontology_term_id and cell_type_ontology_term_id fields for 3 new species (#1235)
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

unskipped map-species functions
  cellxgene_schema_cli/tests/test_map_species.py
Due: cellxgene_schema_cli

Path conditions:
  cellxgene_schema_cli: any of: cellxgene_schema_cli/**
  migration_assistant: any of: scripts/migration_assistant/**
  schema_bump_dry_run_genes: any of: scripts/schema_bump_dry_run_genes/**
  schema_bump_dry_run_ontologies: any of: scripts/schema_bump_dry_run_ontologies/**
