Repository chanzuckerberg/single-cell-curation: changes, and which Codecov flags are due for each by the changed paths.
All: cellxgene_schema_cli, migration_assistant, schema_bump_dry_run_genes, schema_bump_dry_run_ontologies

codecov.yaml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_cellxgene_schema_cli
      name: cellxgene_schema_cli
      paths:
        - cellxgene_schema_cli/**
    - component_id: module_migration_assistant
      name: migration_assistant
      paths:
        - scripts/migration_assistant/**
    - component_id: module_schema_bump_dry_run_genes
      name: schema_bump_dry_run_genes
      paths:
        - scripts/schema_bump_dry_run_genes/**
    - component_id: module_schema_bump_dry_run_ontologies
      name: schema_bump_dry_run_ontologies
      paths:
        - scripts/schema_bump_dry_run_ontologies/**

chore: bump cellxgene-ontology-guide to 1.11.0 and guard dry run schema_version
  cellxgene_schema_cli/requirements.txt
  scripts/schema_bump_dry_run_ontologies/ontology_bump_dry_run.py
  scripts/schema_bump_dry_run_ontologies/requirements.txt
Due: cellxgene_schema_cli, schema_bump_dry_run_ontologies

fix(workflows): migrate Slack uploads off retired files.upload endpoint
  .github/actions/slack-file-upload/action.yml
  .github/workflows/gencode-bump-dry-run.yml
  .github/workflows/ontology-bump-dry-run.yml
  .github/workflows/schema-version-bump.yml
Due: none

feat(workflows): add schema_version input to ontology dry run
  .github/workflows/ontology-bump-dry-run.yml
Due: none

docs(schema 7.1.0): update pinned ontology versions to match COG 1.11.0
  schema/7.1.0/schema.md
Due: none

chore: bump cellxgene-ontology-guide to 1.11.1 + fix FBbt pin in schema.md
  cellxgene_schema_cli/requirements.txt
  schema/7.1.0/schema.md
  scripts/schema_bump_dry_run_ontologies/requirements.txt
Due: cellxgene_schema_cli, schema_bump_dry_run_ontologies

fix(test): replace EFO:0022615 with EFO:0022955 in suspension_type test
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

chore: bump cellxgene-ontology-guide to 1.11.1 + harden ontology dry run (#1570)
  .github/actions/slack-file-upload/action.yml
  .github/workflows/gencode-bump-dry-run.yml
  .github/workflows/ontology-bump-dry-run.yml
  .github/workflows/schema-version-bump.yml
  cellxgene_schema_cli/requirements.txt
  cellxgene_schema_cli/tests/test_schema_compliance.py
  schema/7.1.0/schema.md
  scripts/schema_bump_dry_run_ontologies/ontology_bump_dry_run.py
  scripts/schema_bump_dry_run_ontologies/requirements.txt
Due: cellxgene_schema_cli, schema_bump_dry_run_ontologies

chore: refresh migrate.py template for 7.1.0
  cellxgene_schema_cli/cellxgene_schema/migrate.py
  cellxgene_schema_cli/cellxgene_schema/migrate_files/schema7_hancestro_mapping.json
Due: cellxgene_schema_cli

updates from ontology bump ticket
  cellxgene_schema_cli/cellxgene_schema/migrate.py
Due: cellxgene_schema_cli

add comma
  cellxgene_schema_cli/cellxgene_schema/migrate.py
Due: cellxgene_schema_cli

chore: refresh migrate.py template for 7.1.0 + apply CL:4023083 deprecation (#1571)
  cellxgene_schema_cli/cellxgene_schema/migrate.py
  cellxgene_schema_cli/cellxgene_schema/migrate_files/schema7_hancestro_mapping.json
Due: cellxgene_schema_cli

chore: bump schema version 7.0.0 -> 7.1.0
  .bumpversion.cfg
  cellxgene_schema_cli/cellxgene_schema/schema_definitions/schema_definition.yaml
  cellxgene_schema_cli/setup.py
  docs/latest-schema.html
Due: cellxgene_schema_cli

fix: unblock PyPI publish workflow
  .github/workflows/publish-to-pypi.yml
  cellxgene_schema_cli/requirements.txt
Due: cellxgene_schema_cli

fix: unblock PyPI publish workflow (#1576)
  .github/workflows/publish-to-pypi.yml
  cellxgene_schema_cli/requirements.txt
Due: cellxgene_schema_cli

Update schema version
  cellxgene_schema_cli/cellxgene_schema/__init__.py
Due: cellxgene_schema_cli

chore: release 7.1.1 and track __init__.py in bumpversion
  .bumpversion.cfg
  cellxgene_schema_cli/cellxgene_schema/__init__.py
  cellxgene_schema_cli/setup.py
Due: cellxgene_schema_cli

chore: Update schema version (#1578)
  .bumpversion.cfg
  cellxgene_schema_cli/cellxgene_schema/__init__.py
  cellxgene_schema_cli/setup.py
Due: cellxgene_schema_cli

AUTO: update gencode files
  cellxgene_schema_cli/cellxgene_schema/gencode_files/gene_coordinates_danio_rerio.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/gene_coordinates_homo_sapiens.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/gene_coordinates_mus_musculus.csv.gz
Due: cellxgene_schema_cli

update 7.1 status
  schema/7.1.0/schema.md
Due: none

approve schema (#1581)
  schema/7.1.0/schema.md
Due: none

Update schema.md (#1568)
  cellxgene_schema_cli/cellxgene_schema/gencode_files/gene_coordinates_danio_rerio.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/gene_coordinates_homo_sapiens.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/gene_coordinates_mus_musculus.csv.gz
  schema/7.1.0/schema.md
Due: cellxgene_schema_cli
