Repository chanzuckerberg/single-cell-curation: changes, and which Codecov flags are due for each by the changed paths.
All: cellxgene_schema_cli, migration_assistant, schema_bump_dry_run_genes, schema_bump_dry_run_ontologies

feat: add script to create smaller test h5ad dataset preserving genetic perturbation fields
  .github/workflows/push_tests.yml
Due: none

fix: clean unused files
  .github/workflows/push_tests.yml
  scripts/extract_perturbations_to_csv.py
  scripts/guidescan2/Dockerfile
  scripts/shrink_dataset.py
Due: none

fix: clean unused files
  README.md
Due: none

feat: add bioframe dependency and core guide annotation module
  cellxgene_schema_cli/cellxgene_schema/annotate_guides.py
  cellxgene_schema_cli/requirements.txt
Due: cellxgene_schema_cli

feat: add CLI command for perturbation annotation
  cellxgene_schema_cli/cellxgene_schema/cli.py
Due: cellxgene_schema_cli

test: add comprehensive test suite and CI support
  .github/workflows/push_tests.yml
  cellxgene_schema_cli/tests/fixtures/guidescan2/expected_annotated_output.csv
  cellxgene_schema_cli/tests/fixtures/guidescan2/sample_gene_coordinates.csv
  cellxgene_schema_cli/tests/fixtures/guidescan2/sample_guidescan_output.csv
  cellxgene_schema_cli/tests/test_annotate_guides.py
Due: cellxgene_schema_cli

feat: add GTF preprocessing script for gene coordinate extraction
  cellxgene_schema_cli/scripts/preprocess_gtf_for_annotation.py
Due: cellxgene_schema_cli

feat: add helper scripts for dataset management
  scripts/create_small_test_dataset.py
  scripts/h5ad_optimize.py
Due: none

feat: add guidescan2 Docker service for local development
  docker-compose.yml
Due: none

docs: update README with perturbation annotation usage
  README.md
Due: none

remove extra files
  docker-compose.yml
  scripts/h5ad_optimize.py
Due: none

docs: update README to include genetic perturbation annotation details
  README.md
Due: none

docs: remove outdated information on genetic perturbation annotation
  README.md
Due: none

Add perturbation_support flag and integrate GTF preprocessing
  cellxgene_schema_cli/Makefile
  cellxgene_schema_cli/cellxgene_schema/gencode_files/gene_info.yml
  cellxgene_schema_cli/scripts/preprocess_gtf_for_annotation.py
Due: cellxgene_schema_cli

chore: add gene_coordinates CSV files to gencode processing workflow
  .github/workflows/gencode-process.yml
Due: none

poke
  cellxgene_schema_cli/cellxgene_schema/gencode_files/gene_info.yml
Due: cellxgene_schema_cli

unpoke
  cellxgene_schema_cli/cellxgene_schema/gencode_files/gene_info.yml
Due: cellxgene_schema_cli

AUTO: update gencode files
  cellxgene_schema_cli/cellxgene_schema/gencode_files/gene_coordinates_danio_rerio.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/gene_coordinates_homo_sapiens.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/gene_coordinates_mus_musculus.csv.gz
Due: cellxgene_schema_cli

refactor: streamline GTF download and processing logic in preprocess_gtf_for_annotation.py
  cellxgene_schema_cli/scripts/preprocess_gtf_for_annotation.py
Due: cellxgene_schema_cli

docs: enhance documentation for preprocess_gtf_for_annotation.py
  cellxgene_schema_cli/scripts/preprocess_gtf_for_annotation.py
Due: cellxgene_schema_cli

refactor: rename create_small_test_dataset.py to shrink_perturbation_dataset.py
  scripts/shrink_perturbation_dataset.py
Due: none

Apply suggestions from code review
  cellxgene_schema_cli/cellxgene_schema/annotate_guides.py
  cellxgene_schema_cli/tests/fixtures/guidescan2/expected_annotated_output.csv
  cellxgene_schema_cli/tests/test_annotate_guides.py
Due: cellxgene_schema_cli

refactor: remove hardcoded PAM length and derive from sequence
  cellxgene_schema_cli/cellxgene_schema/annotate_guides.py
  cellxgene_schema_cli/tests/fixtures/guidescan2/sample_guidescan_output.csv
  cellxgene_schema_cli/tests/test_annotate_guides.py
Due: cellxgene_schema_cli

Update cellxgene_schema_cli/scripts/preprocess_gtf_for_annotation.py
  cellxgene_schema_cli/scripts/preprocess_gtf_for_annotation.py
Due: cellxgene_schema_cli

added experimental conditions
  schema/7.1.0/schema.md
Due: none

feat: Add GTF preprocessing utility for gene annotations (#1496)
  .github/workflows/gencode-process.yml
  cellxgene_schema_cli/Makefile
  cellxgene_schema_cli/cellxgene_schema/gencode_files/gene_coordinates_danio_rerio.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/gene_coordinates_homo_sapiens.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/gene_coordinates_mus_musculus.csv.gz
  cellxgene_schema_cli/cellxgene_schema/gencode_files/gene_info.yml
  cellxgene_schema_cli/scripts/preprocess_gtf_for_annotation.py
Due: cellxgene_schema_cli

feat: Add helper scripts to shrink and anndata (#1497)
  README.md
  scripts/shrink_perturbation_dataset.py
Due: none

added experimental conditions (#1498)
  schema/7.1.0/schema.md
Due: none

feat: add script to remove annotated fields from genetic perturbations in h5ad files
  scripts/remove_annotated_fields.py
Due: none

feat: replace remove_annotated_fields.py with shrink_and_clean_perturbation_dataset.py
  scripts/remove_annotated_fields.py
  scripts/shrink_and_clean_perturbation_dataset.py
Due: none

docs: update README to clarify Python version requirement for cellxgene-schema
  README.md
Due: none

chore: update pre-commit dependencies to latest versions
  .pre-commit-config.yaml
  pyproject.toml
Due: none

chore: update mypy configuration in pre-commit and improve type hints
  .github/workflows/push_tests.yml
  .pre-commit-config.yaml
  scripts/schema_bump_dry_run_genes/gene_bump_dry_run.py
Due: schema_bump_dry_run_genes

refactor: simplify return statement in validate function
  cellxgene_schema_cli/cellxgene_schema/validate.py
Due: cellxgene_schema_cli

fix: mypy linting + update pre-commits (#1505)
  .github/workflows/push_tests.yml
  .pre-commit-config.yaml
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/cellxgene_schema/write_labels.py
  cellxgene_schema_cli/tests/scripts/test_update_genes.py
  cellxgene_schema_cli/tests/test_atac_seq.py
  pyproject.toml
  scripts/schema_bump_dry_run_genes/gene_bump_dry_run.py
Due: cellxgene_schema_cli, schema_bump_dry_run_genes

feat: add reference file management commands to CLI
  cellxgene_schema_cli/MANIFEST.in
  cellxgene_schema_cli/cellxgene_schema/cli.py
  cellxgene_schema_cli/cellxgene_schema/env.py
  cellxgene_schema_cli/cellxgene_schema/gencode_files/.cache/.gitkeep
  cellxgene_schema_cli/cellxgene_schema/gencode_files/.gitignore
  cellxgene_schema_cli/cellxgene_schema/gencode_files/reference_files.yml
  cellxgene_schema_cli/cellxgene_schema/reference_file_manager.py
  cellxgene_schema_cli/requirements.txt
  cellxgene_schema_cli/tests/test_reference_file_manager.py
Due: cellxgene_schema_cli

feat: implement ReferenceFileManager for GuideScan2 index handling
  cellxgene_schema_cli/cellxgene_schema/annotate_guides.py
  cellxgene_schema_cli/tests/test_annotate_guides.py
Due: cellxgene_schema_cli

Path conditions:
  cellxgene_schema_cli: any of: cellxgene_schema_cli/**
  migration_assistant: any of: scripts/migration_assistant/**
  schema_bump_dry_run_genes: any of: scripts/schema_bump_dry_run_genes/**
  schema_bump_dry_run_ontologies: any of: scripts/schema_bump_dry_run_ontologies/**
