Repository chanzuckerberg/single-cell-curation: changes, and which Codecov flags are due for each by the changed paths.
All: cellxgene_schema_cli, migration_assistant, schema_bump_dry_run_genes, schema_bump_dry_run_ontologies

Updated feature_reference
  schema/drafts/5.3.0.md
Due: none

editorial
  schema/drafts/5.3.0.md
Due: none

Updated feature_reference (#1176)
  schema/drafts/5.3.0.md
Due: none

Updated patch version
  schema/drafts/5.3.0.md
Due: none

Updated patch version (#1177)
  schema/drafts/5.3.0.md
Due: none

fix donor id error
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
Due: cellxgene_schema_cli

rebase + fix typo
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
  cellxgene_schema_cli/tests/test_validate.py
Due: cellxgene_schema_cli

add '
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
  cellxgene_schema_cli/tests/test_validate.py
Due: cellxgene_schema_cli

fix: donor id error logging + obsm typo (#1153)
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
  cellxgene_schema_cli/tests/test_validate.py
Due: cellxgene_schema_cli

Revert "fix: donor id error logging + obsm typo (#1153)"
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/tests/test_schema_compliance.py
  cellxgene_schema_cli/tests/test_validate.py
Due: cellxgene_schema_cli

The goal of this branch is to convert existing validation checks to use pytest.
  cellxgene_schema_cli/cellxgene_schema/cli.py
  cellxgene_schema_cli/cellxgene_schema/utils.py
  cellxgene_schema_cli/cellxgene_schema/validation/__init__.py
  cellxgene_schema_cli/cellxgene_schema/validation/conftest.py
  cellxgene_schema_cli/cellxgene_schema/validation/constants.py
  cellxgene_schema_cli/cellxgene_schema/validation/marks.py
  cellxgene_schema_cli/cellxgene_schema/validation/tests/__init__.py
  cellxgene_schema_cli/cellxgene_schema/validation/tests/test_hello_world.py
  cellxgene_schema_cli/cellxgene_schema/validation/tests/test_schema.py
  cellxgene_schema_cli/requirements.txt
Due: cellxgene_schema_cli

use dask in migration template
  scripts/migration_assistant/migration_template.jinja
  scripts/migration_assistant/tests/test_convert_template.py
Due: migration_assistant

The goal of this branch is to convert existing validation checks to use pytest.
  cellxgene_schema_cli/cellxgene_schema/validation/tests/test_schema.py
Due: cellxgene_schema_cli

use dask in migration template
  cellxgene_schema_cli/tests/test_migrate.py
  scripts/migration_assistant/migration_template.jinja
Due: cellxgene_schema_cli, migration_assistant

chore: use dask in migrate script template (#1185)
  cellxgene_schema_cli/tests/test_migrate.py
  scripts/migration_assistant/migration_template.jinja
  scripts/migration_assistant/tests/test_convert_template.py
Due: cellxgene_schema_cli, migration_assistant

Updated assay_ontology_term_id
  schema/drafts/5.3.0.md
Due: none

Updated assay_ontology_term_id (#1187)
  schema/drafts/5.3.0.md
Due: none

Updated changelog (#1188)
  schema/drafts/5.3.0.md
Due: none

Added sus scrofa
  schema/drafts/5.3.0.md
Due: none

Added sus scrofa (#1190)
  schema/drafts/5.3.0.md
Due: none

Updated cell_type_ontology_term_id
  schema/drafts/5.3.0.md
Due: none

Updated cell_type_ontology_term_id (#1191)
  schema/drafts/5.3.0.md
Due: none

Updated development_stage_ontology_term_id
  schema/drafts/5.3.0.md
Due: none

Updated development_stage_ontology_term_id (#1192)
  schema/drafts/5.3.0.md
Due: none

Updated organism_ontology_term_id
  schema/drafts/5.3.0.md
Due: none

Updated organism_ontology_term_id (#1193)
  schema/drafts/5.3.0.md
Due: none

Updated tissue_ontology_term_id
  schema/drafts/5.3.0.md
Due: none

Path conditions:
  cellxgene_schema_cli: any of: cellxgene_schema_cli/**
  migration_assistant: any of: scripts/migration_assistant/**
  schema_bump_dry_run_genes: any of: scripts/schema_bump_dry_run_genes/**
  schema_bump_dry_run_ontologies: any of: scripts/schema_bump_dry_run_ontologies/**
