Repository chanzuckerberg/single-cell-curation: changes, and which Codecov flags are due for each by the changed paths.
All: cellxgene_schema_cli, migration_assistant, schema_bump_dry_run_genes, schema_bump_dry_run_ontologies

codecov.yaml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_cellxgene_schema_cli
      name: cellxgene_schema_cli
      paths:
        - cellxgene_schema_cli/**
    - component_id: module_migration_assistant
      name: migration_assistant
      paths:
        - scripts/migration_assistant/**
    - component_id: module_schema_bump_dry_run_genes
      name: schema_bump_dry_run_genes
      paths:
        - scripts/schema_bump_dry_run_genes/**
    - component_id: module_schema_bump_dry_run_ontologies
      name: schema_bump_dry_run_ontologies
      paths:
        - scripts/schema_bump_dry_run_ontologies/**

Created 7.1.0 draft
  schema/7.1.0/schema.md
Due: none

Created 7.1.0 draft (#1465)
  schema/7.1.0/schema.md
Due: none

feat: update schema version to 7.0.0 and bump cellxgene-ontology-guide to 1.9.0
  cellxgene_schema_cli/cellxgene_schema/__init__.py
  cellxgene_schema_cli/cellxgene_schema/ontology_parser.py
  cellxgene_schema_cli/requirements.txt
  scripts/schema_bump_dry_run_ontologies/requirements.txt
Due: cellxgene_schema_cli, schema_bump_dry_run_ontologies

feat: update schema version to 7.0.0 and bump COG to 1.9.0 (#1466)
  cellxgene_schema_cli/cellxgene_schema/__init__.py
  cellxgene_schema_cli/cellxgene_schema/ontology_parser.py
  cellxgene_schema_cli/requirements.txt
  scripts/schema_bump_dry_run_ontologies/requirements.txt
Due: cellxgene_schema_cli, schema_bump_dry_run_ontologies

fix: handle multiple ontology_term_id delimiters in ontology bump script
  scripts/schema_bump_dry_run_ontologies/ontology_bump_dry_run.py
Due: schema_bump_dry_run_ontologies

test: parameterize ontology ID list tests for multiple delimiters
  scripts/schema_bump_dry_run_ontologies/tests/test_ontology_bump_dry_run.py
Due: schema_bump_dry_run_ontologies

test: simplify parameterization of multi-delimited ontology ID list tests
  scripts/schema_bump_dry_run_ontologies/tests/test_ontology_bump_dry_run.py
Due: schema_bump_dry_run_ontologies

added genetic perturbations
  schema/7.1.0/schema.md
Due: none

check for multiple delimiters
  scripts/schema_bump_dry_run_ontologies/ontology_bump_dry_run.py
  scripts/schema_bump_dry_run_ontologies/tests/test_ontology_bump_dry_run.py
Due: schema_bump_dry_run_ontologies

add strip to terms
  scripts/schema_bump_dry_run_ontologies/ontology_bump_dry_run.py
  scripts/schema_bump_dry_run_ontologies/tests/test_ontology_bump_dry_run.py
Due: schema_bump_dry_run_ontologies

fix: ontology_bump skip to support '||' separator. (#1467)
  scripts/schema_bump_dry_run_ontologies/ontology_bump_dry_run.py
  scripts/schema_bump_dry_run_ontologies/tests/test_ontology_bump_dry_run.py
Due: schema_bump_dry_run_ontologies

added genetic perturbations (#1468)
  schema/7.1.0/schema.md
Due: none

Bump version: 6.0.1 → 6.1.0-rc.0
  .bumpversion.cfg
  cellxgene_schema_cli/cellxgene_schema/gencode_files/drosophila_melanogaster_diff.txt
  cellxgene_schema_cli/cellxgene_schema/gencode_files/homo_sapiens_diff.txt
  cellxgene_schema_cli/cellxgene_schema/gencode_files/mus_musculus_diff.txt
  cellxgene_schema_cli/cellxgene_schema/gencode_files/rattus_norvegicus_diff.txt
  cellxgene_schema_cli/setup.py
Due: cellxgene_schema_cli

add manual curator changes to migrate.py
  cellxgene_schema_cli/cellxgene_schema/migrate.py
Due: cellxgene_schema_cli

Bump version: 7.0.0-rc.0 → 7.0.0
  .bumpversion.cfg
  cellxgene_schema_cli/setup.py
Due: cellxgene_schema_cli

AUTO: update migrate.py schema_version 6.0.1->7.0.0
  cellxgene_schema_cli/cellxgene_schema/migrate.py
Due: cellxgene_schema_cli

add ethnicity mappings file
  cellxgene_schema_cli/cellxgene_schema/migrate_files/schema7_hancestro_mapping.json
Due: cellxgene_schema_cli

Bump version: 6.1.0 → 7.0.0-rc.0
  .bumpversion.cfg
  cellxgene_schema_cli/setup.py
Due: cellxgene_schema_cli

poke
  scripts/schema_bump_dry_run_ontologies/tests/test_ontology_bump_dry_run.py
Due: schema_bump_dry_run_ontologies

Bump version: 6.1.0-rc.0 → 6.1.0
  .bumpversion.cfg
  cellxgene_schema_cli/setup.py
Due: cellxgene_schema_cli

ontology updates per issue 1416
  cellxgene_schema_cli/cellxgene_schema/migrate.py
Due: cellxgene_schema_cli

add in multiple ethnicity cases
  cellxgene_schema_cli/cellxgene_schema/migrate_files/schema7_hancestro_mapping.json
Due: cellxgene_schema_cli

wipe private collection id
  cellxgene_schema_cli/cellxgene_schema/migrate.py
Due: cellxgene_schema_cli

fix collection id for ontology updates
  cellxgene_schema_cli/cellxgene_schema/migrate.py
Due: cellxgene_schema_cli

ethnicity updates - manual replacements
  cellxgene_schema_cli/cellxgene_schema/migrate.py
Due: cellxgene_schema_cli

correct for lexical order
  cellxgene_schema_cli/cellxgene_schema/migrate_files/schema7_hancestro_mapping.json
Due: cellxgene_schema_cli

cell line updates and helper function
  cellxgene_schema_cli/cellxgene_schema/migrate.py
  cellxgene_schema_cli/cellxgene_schema/utils.py
Due: cellxgene_schema_cli

add ethnicity whole corpus value replacement
  cellxgene_schema_cli/cellxgene_schema/migrate.py
Due: cellxgene_schema_cli

clean up comments
  cellxgene_schema_cli/cellxgene_schema/migrate.py
Due: cellxgene_schema_cli

add ethnicity update for open revision
  cellxgene_schema_cli/cellxgene_schema/migrate.py
Due: cellxgene_schema_cli

add ethnicity update for remaining terms to unknown
  cellxgene_schema_cli/cellxgene_schema/migrate.py
Due: cellxgene_schema_cli

update to ethnicity map loading
  cellxgene_schema_cli/cellxgene_schema/migrate.py
Due: cellxgene_schema_cli

indent
  cellxgene_schema_cli/cellxgene_schema/migrate.py
Due: cellxgene_schema_cli

clean up code
  cellxgene_schema_cli/cellxgene_schema/migrate.py
Due: cellxgene_schema_cli

fix imports
  cellxgene_schema_cli/cellxgene_schema/migrate.py
Due: cellxgene_schema_cli

update migrate.py to use .get() for safe access to dataset.uns keys
  cellxgene_schema_cli/cellxgene_schema/migrate.py
Due: cellxgene_schema_cli

update migrate.py to use .get() for safe access to dataset.uns keys
  cellxgene_schema_cli/cellxgene_schema/migrate.py
  cellxgene_schema_cli/tests/fixtures/examples_validate.py
Due: cellxgene_schema_cli

remove empty ontology term mappings and update citation check for safe access
  cellxgene_schema_cli/cellxgene_schema/migrate.py
Due: cellxgene_schema_cli
