Repository chanzuckerberg/single-cell-curation: changes, and which Codecov flags are due for each by the changed paths.
All: cellxgene_schema_cli, migration_assistant, schema_bump_dry_run_genes, schema_bump_dry_run_ontologies

codecov.yaml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_cellxgene_schema_cli
      name: cellxgene_schema_cli
      paths:
        - cellxgene_schema_cli/**
    - component_id: module_migration_assistant
      name: migration_assistant
      paths:
        - scripts/migration_assistant/**
    - component_id: module_schema_bump_dry_run_genes
      name: schema_bump_dry_run_genes
      paths:
        - scripts/schema_bump_dry_run_genes/**
    - component_id: module_schema_bump_dry_run_ontologies
      name: schema_bump_dry_run_ontologies
      paths:
        - scripts/schema_bump_dry_run_ontologies/**

suggested comments
  cellxgene_schema_cli/cellxgene_schema/atac_seq.py
  cellxgene_schema_cli/cellxgene_schema/cli.py
  cellxgene_schema_cli/cellxgene_schema/ontology_parser.py
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/cellxgene_schema/write_labels.py
  cellxgene_schema_cli/tests/test_atac_seq.py
Due: cellxgene_schema_cli

doc: API notebooks for manifest features (#1263)
  notebooks/curation_api/python/get_dataset_manifest.ipynb
  notebooks/curation_api/python/src/dataset.py
  notebooks/curation_api/python/upload_datafiles_via_manifest.ipynb
  notebooks/curation_api/python_raw/get_dataset_manifest.ipynb
  notebooks/curation_api/python_raw/upload_datafiles_via_manifest.ipynb
Due: none

under logging change
  cellxgene_schema_cli/cellxgene_schema/atac_seq.py
  cellxgene_schema_cli/cellxgene_schema/cli.py
Due: cellxgene_schema_cli

print the caught exception in the error message.
  cellxgene_schema_cli/cellxgene_schema/atac_seq.py
Due: cellxgene_schema_cli

fix: atac fragment processing suggestion (#1284)
  cellxgene_schema_cli/cellxgene_schema/atac_seq.py
  cellxgene_schema_cli/cellxgene_schema/cli.py
  cellxgene_schema_cli/cellxgene_schema/ontology_parser.py
  cellxgene_schema_cli/cellxgene_schema/validate.py
  cellxgene_schema_cli/cellxgene_schema/write_labels.py
  cellxgene_schema_cli/tests/test_atac_seq.py
Due: cellxgene_schema_cli

debug workflow - shorted aws-role duration
  .github/workflows/gencode-bump-dry-run.yml
Due: none

update COG dependency in
  cellxgene_schema_cli/cellxgene_schema/gencode_files/gene_info.yml
  scripts/schema_bump_dry_run_ontologies/requirements.txt
Due: cellxgene_schema_cli, schema_bump_dry_run_ontologies

noop to trigger GHA
  cellxgene_schema_cli/cellxgene_schema/gencode_files/gene_info.yml
Due: cellxgene_schema_cli

synced to match current workflow
  cellxgene_schema_cli/scripts/readme.md
Due: cellxgene_schema_cli

update COG; update gene file reamde.md
  cellxgene_schema_cli/requirements.txt
  cellxgene_schema_cli/scripts/readme.md
Due: cellxgene_schema_cli

add module
  scripts/schema_bump_dry_run_genes/requirements.txt
Due: schema_bump_dry_run_genes

Update the upload_local_datafile_to_dataset.ipynb to use a manifest.
  notebooks/curation_api/python/src/dataset.py
  notebooks/curation_api/python/upload_local_datafile_to_dataset.ipynb
Due: none

request more time for gencode bump
  .github/workflows/gencode-bump-dry-run.yml
Due: none

hide runtime error message to prevent data vulnerability
  scripts/schema_bump_dry_run_genes/gene_bump_dry_run.py
Due: schema_bump_dry_run_genes

feat(multiome): Update the upload_local_datafile_to_dataset.ipynb to use a manifest. (#1288)
  notebooks/curation_api/python/src/dataset.py
  notebooks/curation_api/python/upload_local_datafile_to_dataset.ipynb
Due: none

lint checks
  scripts/schema_bump_dry_run_genes/gene_bump_dry_run.py
Due: schema_bump_dry_run_genes

feat: schema 5.3.0 gene bumps (#1286)
  .github/workflows/gencode-bump-dry-run.yml
  cellxgene_schema_cli/cellxgene_schema/gencode_files/gene_info.yml
  cellxgene_schema_cli/requirements.txt
  cellxgene_schema_cli/scripts/readme.md
  scripts/schema_bump_dry_run_genes/gene_bump_dry_run.py
  scripts/schema_bump_dry_run_genes/requirements.txt
  scripts/schema_bump_dry_run_ontologies/requirements.txt
Due: cellxgene_schema_cli, schema_bump_dry_run_genes, schema_bump_dry_run_ontologies

revert to pre-bump versions in codebase
  cellxgene_schema_cli/setup.py
Due: cellxgene_schema_cli

revert to pre-bump versions in codebase (#1290)
  cellxgene_schema_cli/setup.py
Due: cellxgene_schema_cli

Bump version: 5.2.3 → 5.3.0-rc.0
  .bumpversion.cfg
  cellxgene_schema_cli/cellxgene_schema/__init__.py
  cellxgene_schema_cli/setup.py
Due: cellxgene_schema_cli

Bump version: 5.3.0-rc.0 → 5.3.0
  .bumpversion.cfg
  cellxgene_schema_cli/cellxgene_schema/__init__.py
  cellxgene_schema_cli/setup.py
Due: cellxgene_schema_cli

Bump version: 5.3.0 → 6.0.0-rc.0
  .bumpversion.cfg
  cellxgene_schema_cli/cellxgene_schema/__init__.py
  cellxgene_schema_cli/setup.py
Due: cellxgene_schema_cli

Bump version: 6.0.0-rc.0 → 6.0.0
  .bumpversion.cfg
  cellxgene_schema_cli/cellxgene_schema/__init__.py
  cellxgene_schema_cli/setup.py
Due: cellxgene_schema_cli

AUTO: update migrate.py schema_version 5.2.3->6.0.0
  cellxgene_schema_cli/cellxgene_schema/migrate.py
Due: cellxgene_schema_cli

Update .bumpversion.cfg
  .bumpversion.cfg
Due: none

Update __init__.py
  cellxgene_schema_cli/cellxgene_schema/__init__.py
Due: cellxgene_schema_cli

Update setup.py
  cellxgene_schema_cli/setup.py
Due: cellxgene_schema_cli

Update migrate.py
  cellxgene_schema_cli/cellxgene_schema/migrate.py
Due: cellxgene_schema_cli

Adding non_csr_list
  cellxgene_schema_cli/cellxgene_schema/migrate_files/non_csr_list.csv
Due: cellxgene_schema_cli

Update utils.py
  cellxgene_schema_cli/cellxgene_schema/utils.py
Due: cellxgene_schema_cli

editorial updates for multiome
  schema/5.3.0/schema.md
Due: none

editorial
  schema/5.3.0/schema.md
Due: none
